<%= form_with(model: look, local: true) do |f| %>
  <% if look.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(look.errors.count, "error") %> prohibited this look from being saved:</h2>

      <ul>
        <% look.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: 'look' %>
  </div>

  <div class="field">
    <% Tag.all.each do |t| %>
      <label>
        <%= check_box_tag('look[tag_ids][]', t.id, look.tags.include?(t)) %>
        <%= t.name %>
      </label>
    <% end %>
  </div>

  <div class="field">
    <table>
      <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Category</th>
        <th><label>Add Item</label></th>
      </tr>
      </thead>

      <tbody>
      <% Item.all.each do |item| %>
          <tr>
          <td><%= image_tag(item.image) %></td>
          <td><%= item.name %></td>
          <td><%= item.category && item.category.name %></td>
          <td><%= check_box_tag('look[item_ids][]', item.id, look.items.include?(item)) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<style>
  img {
    height: 180px !important;
    width: 180px !important;
  }
</style>