<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-8">
    <h3 id="looks-title">Looks</h3>
  </div>

  <div class="col-xs-4 new-link">
    <%= link_to 'New Look', new_look_path %>
  </div>
</div>

<br>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
  <% @looks.each do |look| %>
    <tr>
      <td><%= look.id %></td>
      <td><%= look.tags.index.map {|t| t.name } %></td>
      <td>
        <%= link_to 'Edit', edit_look_path(look) %> |
        <%= link_to 'Delete', look, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
