<h1>New Category</h1>

<%= render 'form', category: @category %>

<%= link_to 'Back', categories_path %>


<% @looks.each do |look| %>
  <div class="col-md-4" style="border: 1px solid #000; border-radius: 5px; padding: 20px; text-align: center">
    <% look.items.index.map do |item| %>
      <br>
      <%= image_tag(item.image) %>
    <% end %>

    <h3>
      <%= look.name %>
      <%= link_to edit_look_path(look), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>

      <%= link_to look, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-trash"></i>
      <% end %>
    </h3>
    Tags: <%= look.tags.index.map {|t| t.name } %>
  </div>
<% end %>
